In [2]:
x='A'
ord(x)

65

In [3]:
ord('Z')

90

In [4]:
ord('a')

97

In [5]:
ord('z')

122

In [6]:
name=input("Please enter any name : ")
count=0
for x in name:
    if ((ord(x)>=65 and ord(x)<=90) or (ord(x)>=97 and ord(x)<=122)):
        count+=1
print(" the total number of chars in name are ", count)

Please enter any name : amit123 kumar123
 the total number of chars in name are  9

In [7]:
num = int(input("Please enter any number "))
count=1
while count<=10:
    print(num, " X ", count, " = ", num*count)
    count+=1

Please enter any number 3
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30

In [8]:
list1=list()
print(type(list1))

<class 'list'>

In [9]:
list1=[10,20,30,'India','USA','China']
list1

[10, 20, 30, 'India', 'USA', 'China']

In [10]:
list1[0]

10

In [11]:
list1[0]='Canada'
list1

['Canada', 20, 30, 'India', 'USA', 'China']

In [12]:
len(list1)

6

In [13]:
list1

['Canada', 20, 30, 'India', 'USA', 'China']

In [14]:
list1.append(100)

In [15]:
list1

['Canada', 20, 30, 'India', 'USA', 'China', 100]

In [16]:
list1.extend(['a','b','c'])
list1

['Canada', 20, 30, 'India', 'USA', 'China', 100, 'a', 'b', 'c']

In [17]:
list1.insert(2,300)
list1

['Canada', 20, 300, 30, 'India', 'USA', 'China', 100, 'a', 'b', 'c']

In [18]:
list1=list1+[100,200,300]

In [19]:
list1

['Canada',
 20,
 300,
 30,
 'India',
 'USA',
 'China',
 100,
 'a',
 'b',
 'c',
 100,
 200,
 300]

In [20]:
list2=[11,22]
list1.extend(list2)
list1

['Canada',
 20,
 300,
 30,
 'India',
 'USA',
 'China',
 100,
 'a',
 'b',
 'c',
 100,
 200,
 300,
 11,
 22]

In [21]:
list1

['Canada',
 20,
 300,
 30,
 'India',
 'USA',
 'China',
 100,
 'a',
 'b',
 'c',
 100,
 200,
 300,
 11,
 22]

In [22]:
list1.pop() # delete last value and return on the screen

22

In [23]:
list1

['Canada',
 20,
 300,
 30,
 'India',
 'USA',
 'China',
 100,
 'a',
 'b',
 'c',
 100,
 200,
 300,
 11]

In [24]:
list1.pop(2)

300

In [25]:
list1

['Canada',
 20,
 30,
 'India',
 'USA',
 'China',
 100,
 'a',
 'b',
 'c',
 100,
 200,
 300,
 11]

In [26]:
del list1[4]
list1

['Canada', 20, 30, 'India', 'China', 100, 'a', 'b', 'c', 100, 200, 300, 11]

In [27]:
list1.remove(20)
list1

['Canada', 30, 'India', 'China', 100, 'a', 'b', 'c', 100, 200, 300, 11]

In [28]:
list1.remove(10000)

ValueError: list.remove(x): x not in list

In [29]:
for x in list1:
    print("value fetched is ", x)

value fetched is  Canada
value fetched is  30
value fetched is  India
value fetched is  China
value fetched is  100
value fetched is  a
value fetched is  b
value fetched is  c
value fetched is  100
value fetched is  200
value fetched is  300
value fetched is  11

In [31]:
'''
take an input from the user any number infinitely till user enters -999
keep on appending elements in the list. once list is created create even and odd two lists containing even and odd elements
find the sum of all the elements of a list
find the mean of all the elements of a list
'''

num,sum,mean=0,0,0
list1, even_list, odd_list=[],[],[]
while num!=-999:
    num=int(input("Please enter any number : "))
    if num !=-999:
        list1.append(num)
        sum+=num
        if num%2==0:
            even_list.append(num)
        else:
            odd_list.append(num)
        
print("list1 is ", list1)
print("even list is ", even_list)
print("odd list is ", odd_list)
print("sum of elements of list1 is ", sum)
print("mean of elements of list1 is ", sum/len(list1))

Please enter any number : 1
Please enter any number : 3
Please enter any number : 5
Please enter any number : 10
Please enter any number : 22
Please enter any number : 11
Please enter any number : 4
Please enter any number : -999
list1 is  [1, 3, 5, 10, 22, 11, 4]
even list is  [10, 22, 4]
odd list is  [1, 3, 5, 11]
sum of elements of list1 is  56
mean of elements of list1 is  8.0

In [32]:
list(range(10)) #this will generate 0 to 9 numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list(range(10,20)) #this will generate 10 to 19

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
list(range(10,20,2)) #this will generate 10 to 19 with the jump of 1 value

[10, 12, 14, 16, 18]

In [35]:
list1=[10,20,30,40,50]
for x in list1:
    print("value fected is ", x)

value fected is  10
value fected is  20
value fected is  30
value fected is  40
value fected is  50

In [36]:
list1=[10,20,30,40,50] #here we are fecthing using index locations
for x in range(len(list1)): #this will generate 0 to 4
    print("value fected is ", list1[x])

value fected is  10
value fected is  20
value fected is  30
value fected is  40
value fected is  50

In [ ]:
'''
places = ['Delhi','Mumbai','Chennai', 'Jaipur']
attractions = ['Red Fort', 'Gateway of India', 'Marina Beach', 'Ameer Fort']

question 1 :- the the messages
Delhi has Red Fort
Mumbai has Gateway of India
Chennai has Marina Beach
Jaipur has Ameer Fort

question 2:- take an input from the user any place and print its attraction. place search has to be case insensitive
which means if user enters DELHI still he should get attraction as Red Fort. If place is not found print message attraction 
is not known

question 3:- if attraction is found, print only the capital letters of the attraction on the screen

'''

place=['Delhi','Mumbai','Chennai','Jaipur']
attract=['Red Fort','Gateway of India','Marina Beach','Ameer Fort']
upPlace=""

if len(place)==len(attract):
	check='y'
	match="false"
	while check=='y':
		placeSearch=str(input("Enter place"))
		for x in range(len(place)):
			if place[x].lower()==placeSearch.lower():
				match="true"
				for y in range(len(attract[x])):
					if attract[x][y].isupper():
						upPlace= upPlace+attract[x][y]
						print(upPlace)

		if match=="false":
			print("Place not found")
		check=input("want to enter more y/n")

In [37]:
list1=[10,20,30,40,'india']
list1[2:]

[30, 40, 'india']

In [38]:
list1[:2]

[10, 20]

In [39]:
list1[2:5]

[30, 40, 'india']

In [40]:
list1[2:5:2] #start from 2nd go till 4th with the jump of 1 value

[30, 'india']

In [41]:
list1[::-1]

['india', 40, 30, 20, 10]

In [42]:
tup=tuple()
print(type(tup))

<class 'tuple'>

In [43]:
tup=(10,20,30,40)
tup

(10, 20, 30, 40)

In [44]:
tup[0]

10

In [45]:
tup[-1]

40

In [46]:
tup[0]='India'

TypeError: 'tuple' object does not support item assignment

In [47]:
len(tup)

4

In [48]:
10 in tup

True

In [49]:
d={'name':'amit','age':22,'salary':30000, 101:'house no'}
d

{'name': 'amit', 'age': 22, 'salary': 30000, 101: 'house no'}

In [50]:
d.keys()

dict_keys(['name', 'age', 'salary', 101])

In [51]:
d.values()

dict_values(['amit', 22, 30000, 'house no'])

In [52]:
d.items()

dict_items([('name', 'amit'), ('age', 22), ('salary', 30000), (101, 'house no')])

In [53]:
for k,v in d.items():
    print("key is ", k, "and value is ", v)

key is  name and value is  amit
key is  age and value is  22
key is  salary and value is  30000
key is  101 and value is  house no

In [54]:
# create a dictionary having key as roll number and value as name of student, keep on adding elements in 
# a dictionary till user enters -999
# d={10:'Amit', 20:'Sumit',30:'Suman', 40:'AMIT'}

# once dictionary is created as user and roll number and print name of student. if roll no not found print not found

# take name of student and print list of roll number of all students with that name.search of name should be case insensitive

d={}
rollno=0
list1=[]
while rollno!=-999:
    rollno=int(input("Enter roll no : "))
    if rollno != -999:
        name=input("Enter Name of student : ")
        d[rollno]=name
print("dictionary of roll number and names is ", d)

rollno = int(input("enter any roll number to see student name : "))
if rollno in d:
    print("name of the student is ", d[rollno])
else:
    print("sorry student with that roll number not found")

name=input("Please enter name of student to see all roll number having that name : ")
for k,v in d.items():
    if v.upper() == name.upper():
        list1.append(k)
        
if len(list1)==0:
    print("sorry there are no student with that name ")
else:
    print("list of students roll number having that name", list1)

Enter roll no : 1
Enter Name of student : amit
Enter roll no : 2
Enter Name of student : sumit
Enter roll no : 9
Enter Name of student : suman
Enter roll no : 10
Enter Name of student : kiran
Enter roll no : 11
Enter Name of student : AMIT
Enter roll no : 23
Enter Name of student : AMiT
Enter roll no : -999
dictionary of roll number and names is  {1: 'amit', 2: 'sumit', 9: 'suman', 10: 'kiran', 11: 'AMIT', 23: 'AMiT'}
enter any roll number to see student name : 2
name of the student is  sumit
Please enter name of student to see all roll number having that name : AMIT
list of students roll number having that name [1, 11, 23]